<div class="galleryWrapper">
  <div class="container-fluid">
    <div class="row gallerymain">

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      	<img src="assets/zainah2.jpg"; height = "230px", width = "220px", class="galleryImg">
      </div>

	  <div class="col-xs-12 col-sm-6  col-md-4 col-lg-3">
	    <img src="/assets/zainah1.jpg"; height = "230px", class="galleryImg">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <img src="/assets/keemazainah.jpg"; height = "230px", class="galleryImg">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <img src="/assets/zainah3.jpg"; height = "230px", class="galleryImg">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      	<img src="assets/gallery1.png"; height = "230px", width = "220px", class="galleryImg">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      	<img src="assets/gallery11.png"; height = "230px", width = "220px", class="galleryImg">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      	<img src="assets/gallery18.png"; height = "230px", width = "220px", class="galleryImg">
      </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      	<img src="assets/gallery10.png"; height = "230px", width = "220px", class="galleryImg">
      </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      	<img src="assets/gallery12.png"; height = "230px", width = "220px", class="galleryImg">
      </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      	<img src="assets/gallery2.png"; height = "230px", width = "220px", class="galleryImg">
      </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      	<img src="assets/gallery7.png"; height = "230px", width = "220px", class="galleryImg">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      	<img src="assets/gallery4.png"; height = "230px", width = "220px", class="galleryImg">
      </div>

  	</div>	
  </div>
</div>


<!-- <script>
	(function(){
	var images = ['gallery1.png', 'gallery2.png', 'gallery3.png', 'gallery4.png', 'gallery5.png', 'gallery6.png', 'gallery7.png', 'gallery8.png', 'gallery9.png', 'gallery10.png'];

	// var rotatingIMGs = (function() {
	// 	var counter = images.length - 1;
	// 	return function() {
	// 		if(counter === images.length - 1) {
	// 			counter = 0;
	// 		} else {
	// 			counter+=1;
	// 		}
	// 		return counter;
	// 	}
	// })();

	// setInterval(
	// 	function(){
	// 		console.log(images[rotatingIMGs()]);
	// 	},
	// 	1000);s
	// })();

</script> -->



















	