<div class="galleryWrapper">
  <div class="container-fluid">
    <div class="row gallerymain">

      <div class="col-md-4">
        <img src="assets/zainah2.jpg"; height = "245px", width = "235px", class="galleryImg">
      </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <img src="/assets/zainah1.jpg"; height = "245px", class="galleryImg">
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="/assets/keemazainah.jpg"; height = "245px", class="galleryImg">
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="/assets/zainah3.jpg"; height = "245px", class="galleryImg">
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="assets/gallery1.png"; height = "245px", width = "235px", class="galleryImg">
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="assets/gallery11.png"; height = "245px", width = "235px", class="galleryImg">
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="assets/gallery18.png"; height = "245px", width = "235px", class="galleryImg">
      </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="assets/gallery10.png"; height = "245px", width = "235px", class="galleryImg">
      </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="assets/gallery12.png"; height = "245px", width = "235px", class="galleryImg">
      </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="assets/gallery2.png"; height = "245px", width = "235px", class="galleryImg">
      </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="assets/gallery7.png"; height = "245px", width = "235px", class="galleryImg">
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="assets/gallery4.png"; height = "245px", width = "235px", class="galleryImg">
      </div>

    </div>  
  </div>
</div>


















	