<div id="index_wrapper">
 	<div id="introductions">
 	<br>
 	<br>
	   <h2 id="storyTitle"> The Home Sweet Paws Story </h2>
	   <br>
	 	<p id="homepage_story">
		  Shakeema Hutcherson, the founder and operator of the downtown Manhattan-based dog walking service, Home Sweet Paws, was inspired from one of her very first interactions with dogs to start a dog-centered business. In 2010 Shakeema realized  the Manhattan community was in need of a more personalized dog-walking service. Shortly after she started Home Sweet Paws with her longtime friend and teammate, Zainah Saccoh. Since then Shakeema and Zainah have focused on fostering years-long relationships with their clientele and expanding the scope of Home Sweet Paws to include pet sitting, obedience training, and more. Initially serving the West Village neighborhood, Home Sweet Paws now caters to Soho, Noho, Chelsea, the Flatiron District, TriBeCa, Midtown and Downtown Brooklyn. 
		</p>
	</div>
</div>
