<div id="index_wrapper">
 	<div id="introductions">
	   <h2> The Story so far... </h2>
	 	<p id="homepage_story">
	 	  Home Sweet Paws - Where The Love Is 
		  Shakeema Huterson, the founder and CEO of Home Sweet Paws, had always known she wanted to work with animals and in DATE she realized the Manhattan community was in need of a more personalized dog-walking service. Shortly after she opened Home Sweet Paws her longtime friend and teammate, Zainah Saccoh, joined the team. Since then Shakeema and Zainah have fostered decades-long relationships with their clientele and the scope of their business has expanded significantly. Initially serving the West Village neighborhood, Home Sweet Paws now caters to Soho, Noho, Chelsea, the Flatiron District, TriBeCa, Midtown and Downtown Brooklyn. 
		</p>
	</div>
</div>
