<div id="index_wrapper">
 	<div id="leftSide">
 	 	<br>
 	<br>
	   <h2 id="storyTitle"> The Home Sweet Paws Story </h2>
	   <br>
 		<p id="homepage_story">
		  Shakeema Hutcherson, the founder and operator of the downtown Manhattan-based dog walking service, Home Sweet Paws, knew early on in her life that she was meant to work with animals. In 2009 Shakeema realized that the lower Manhattan community was in need of a more personalized dog-walking service.  Shakeema partnered with her longtime friend and teammate, Zainah Saccoh, and by 2010 Home Sweet Paws was officially open for business. Since then Shakeema and Zainah have focused on fostering years-long relationships with their clientele and expanding the scope of Home Sweet Paws to include both pet sitting and obedience training. Initially serving only the West Village, Home Sweet Paws now operates in Soho, Noho, Chelsea, the Flatiron District, TriBeCa, Midtown and Downtown Brooklyn. 
		</p>
 	</div>
 	<div id="rightSide">
 	  	<img src="/assets/keemazainah.jpg", id="homepagePic">
 	  <br>
 	  <div id="pressBox">
	 	<h5 id="pressHome">
		    Home Sweet Paws in the News
		</h5>
		<hr class="hrHome">
		  <a href="https://blogs.baruch.cuny.edu/writingnewyork2013/?tag=shakeema-hutcherson"><cite> Fearful to Fearless: A Woman's Business Journey with Man's Best Friend </cite> </a>
	  <br>
		  <a href="https://www.bostonglobe.com/news/nation/2016/10/06/new-york-burial-plots-will-now-allow-four-legged-companions/XNA1bsn6XWEW3CbAgo35HO/story.html"> <cite> New York Burial Plots Will Now Allow Four-Legged Companions </cite> </a>
	  </div>
 	</div>
</div>
