<div id="pressWrapper">
  <div id="pressMain">
    <h1 id="pressTitle">
       Home Sweet Paws in the Press
    </h1>
    <br>
    <div>
    	<h3> <a href="https://blogs.baruch.cuny.edu/writingnewyork2013/?tag=shakeema-hutcherson"><cite> Fearful to Fearless: A Woman's Business Journey with Man's Best Friend </cite> </a> <h3>
    </div>

  </div>
</div>