<div id="ratesWrapper">
  <div>
  	<h1 id="ratesTitle"> Services  &amp; Rates </h1>
  </div>
  <div id="weekdayRates">
    <br>
    <h3 class="ratesBoxTitle"> Weekday Dog-Walking Rates </h3>
  	 <p class="serviceItalic"> services are available from 8am to 8pm </p> <br>
  	 <p class="ratesDetails">
  	  30 minute walk - $15 <br>
  	  60 minute walk - $25
  	</p>
  </div>
  <div id="weekendRates">
  <br>
  	<h3 class="ratesBoxTitle"> Weekend Dog-Walking Rates </h3>
  	 <p class="serviceItalic"> services are available from 8am to 5pm </p> <br>
  	 	<p class="ratesDetails">
  	 	30 minute walk - $25 <br>
  	 	60 minutes walk - $30
  	 </p>
  </div>
</div>