<div id="ratesWrapper">
  <div>
  	<h1 id="ratesTitle"> Services  &amp; Rates </h1>
  </div>
  <div id="topRates">
    <div id="weekdayRates">
      <br>
      <h3 class="ratesBoxTitle"> Weekday Dog-Walking Rates </h3>
    	 <p class="serviceItalic"> services are available from 8am to 8pm </p> <br>
    	 <p class="ratesDetails">
    	  30 minute walk - $15 <br>
    	  60 minute walk - $25
    	</p>
    </div>
    <div id="petSitting">
      <br>
      <h3 class="ratesBoxTitle"> Pet-Sitting Rates </h3>
      <p class="serviceItalic"> Please book service at least 36 hours in advance </p> <br>
      <p class="ratesDetails">
        6 nights or less - $75/night <br>
        7 nights or more - $60/night
      </p>
    </div>
  </div>
  <div id="bottomRates">
    <div id="weekendRates">
    <br>
  	   <h3 class="ratesBoxTitle"> Weekend Dog-Walking Rates </h3>
  	   <p class="serviceItalic"> services are available from 8am to 5pm </p> <br>
  	 	 <p class="ratesDetails">
  	 	 30 minute walk - $25 <br>
  	 	 60 minutes walk - $30
  	   </p>
    </div>
    <div id="obedienceRates">
      <br>
      <h3 class="ratesBoxTitle">
        Obedience Training
      </h3>
      <p class="serviceItalic">
        Please book service at least 36 hours in advance        
      </p>
      <br>
      <p class="ratesDetails">
        Please contact us <br> for individualized obedience training rates
      </p>
    </div>
  </div>
</div>