<div id="ratesWrapper">
  <div>
  	<h1 id="ratesTitle"> Services  &amp; Rates </h1>
  </div>
  <div id="weekdayRates">
  	<p> $25/hr per dog, walks are discounted if you have a multiple dog home</p>
  </div>
  <div id="weekendRates">
  	 <p> $30/hr per dog, walks are discounted if you have a multiple dog home</p>
  </div>
</div>