<div id="testimonies_wrapper">
	<br>
	<br>
  <fieldset id="testimony_fieldset">
	<legend id="client_testimonies" style="text-align: center"> Testimonials </legend>
	<div id="agnes_testimony">
	  <p id="agnes_text">
		<img src="/assets/Agnes_testimony.jpeg", id="agnes_img" align="left">
			'Shakeema works with my dog Agnes. I cannot tell you how much Agnes loves Shakeema. Their bond is undeniable. When Agnes and I run into Shakeema at the dog run or when I am walking her, she forgets entirely about me, and everything is about Shakeema. That tells me so much about their relationship and about Shakeema herself. When a dog loves someone that much, you know that this person treats that dog gently and tenderly, and that is how I know Shakeema treats Agnes. That's not to say that Shakeema doesn't keep a firm hand on her while on walks, because I know she does. It is Shakeema's careful balance of tenderness and strength that have fostered the enormous trust that Agnes and I both have in her. Shakeema has built a bond with my dog that shows true love, and with me that shows true admiration. I cannot imagine anyone else taking care of the most important soul in my world.'
	  </p>	
	</div>
	<br>
	<hr class="hr">
	<br>
	<div id="watson_testimony">
	  <p id="watson_text"> 
	  <img src="/assets/hspPic.jpg" id="watson_img" align="left">
			<p class="shrink1">'I was extremely nervous to get a dog walker in New York because I have a skittish dog. I noted several dog walkers in my local dog park before I approached Shakeema about working with her. I am so glad I did. She is engaged, aware and completely decidated to the dogs she works with. Everyone in our dog park calls her the dog whisperer because she is so good with them. I have a very shy dog but Shakeema took the time to establish a relationship built on trust with him. I've seen him transform from hiding when it's time for a walk to now where he waits for her by the door. I wouldn't want anyone else working with my dog.'</p>
	  </p>
	</div>
	<br>
	<br>
	<hr class="hr" class="hrx">
	<br>
	<div id="zep_testimony">
	  <p id="zep_text">
	    <img src="/assets/zep.png" id="zep_img" align="left">
	    <p id="shrink2">'I have been using Shakeema who started Home Sweet Paws for about five years now. I always tell people that my rescue dog Lexi picked her. Lexi had a hard time trusting new people, but I noticed every time we were at the dog park she ran up and greeted Shakeema with excitement. They have been best friends ever since and I always know that my dogs are in the best hands. She has always been reliable, loyal and fair in her prices, but most importantly she treats my dogs as her own and they LOVE her. We are so grateful to have such peace of mind whenever we need help with our furry children.' </p>
	  </p>	
	</div>
	<br>
	<br>
	<br>
	<hr class="hr">
	<br>
	<br>
	<div id="major_testimony">
		<p id="major_text">
			<img src="/assets/major.jpg" id="major_img" align="left">
			<p id="shrink3"> 'What I can say about Shakeema is this, whenever I go with my Major to our community dog run, someone pulls me aside and says how much she loves and cares for my little boy. That speaks volumes.' </p>
		</p>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<hr class="hr">
	<br>
	<div id="addison_testimony">
	  	<p id="addison_text">
	    	<img src="/assets/addison_dogs.jpg", id="addison_img1" align="left">
	    	<p class="shrink">'Shakeema has been a part of our family since our very first dog was just 8 weeks old. We now are a zoo of 3 and wouldn't nearly work as well or be as happy on a weekly basis without Shakeema's help. She is professional, reliable, kind, and truly cares about the wellbeing of each of our animals. Anyone would be lucky to have her help!' </p>
	   </p>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
  </fieldset>
</div>



<br>
<br>