/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{ 
	max-width: 1500px;
	font-family: Georgia serif;

}

/* layout */

#contentWrapper{
	max-width: 1400px;
}

#header{
  	position: fixed;
  	z-index: 1;
  	display: inline;
  	background-color: lightblue;
  	height: 135px;
  	width: 1427px;
  	margin-bottom: 10px;
  	border-radius: 3px;
  	box-shadow: -1px 3px 3px black;
}

.navlinks{
	font-family: "Dancing Script";
	font-style: normal;
	font-variant: normal;
	font-weight: 275;
	line-height: 1;
	color: black;
	text-decoration: none;
	font: bold;
	font-size: 23px;
	margin: 0 auto;
	text-align: left;
}

#navdiv{
	padding-top: 25px;
	position: fixed;
	z-index: 1;
	text-align: right;
	margin-left: -30px;
}

#navdiv .navlinks:hover{
	text-decoration: underline;
}

#navbar-main{
	z-index: 1;
  	position: fixed;
  	display: inline;
  	background-color: lightblue;
  	float: left;
  	width: 12%;
  	min-width: 151px;
  	height: 950px;
	margin-top: 34px;
 	margin-bottom: 10px;
 	margin-right: 10px;
 	border-radius: 2px;
 	box-shadow: 3px 3px 3px black;
}

#oppNav{
	z-index: 1;
  	display: block;
  	position: fixed;
  	top: 15px;
  	left: 25px;
  	background-color: lightblue;
  	float: right !important;
  	min-width: 173px;
  	height: 950px;
	margin-top: 118px;
 	margin-bottom: 10px;
 	margin-left: 1230px;
 	margin-right: 0px;
 	border-radius: 2px;
 	box-shadow: -3px 3px 3px black;
}

#mainName{
	text-align: center;
	padding-bottom: 15px;
	padding-top: 5px;
	font-family: "Dancing Script";
	font-size: 95px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 2px;
}


.pawprintMain{
	height: 80px;
	text-align: center;
	padding-bottom: 15px;
}

/* Homepage Styles */

#index_wrapper{
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

#leftSide{
	max-width: 450px;
	margin: 0 auto;
	float: left;
	letter-spacing: 1px;
}

#rightSide{
	max-width: 450px;
	margin: 0 auto;
	float: right;

}

#storyTitle{
	padding-top: 15px;
	text-align: center;
	font-size: 36px;
	font-family: "Dancing Script";
	font-style: normal;
	font-variant: normal;
	font-weight: 275;
	line-height: 1;
}

#homepage_story{
	text-align: center;
	font-size: 16px;
	padding: 5px 5px;
}


/* Gallery Styles */


.gallerymain{
	padding: 25px;
	text-align: center;
	margin: 0 auto;
	max-width: 1000px;
}


.galleryImg{
	padding: 9px 2px;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 15px;
}



/* Testimonies */
#testimonies_wrapper{
	max-width: 1100px;
	margin: 0 auto;
}

#testimony_fieldset{
	border: 3.3px groove #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	max-width: 900px;
	padding: 5 10px;
	margin: 0 auto;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    text-align: left;
}

#client_testimonies {
	font-family: "Dancing Script";
	font-style: normal;
	font-variant: normal;
	font-weight: 275;
	line-height: 1;
	margin-top: 15px;
	text-align: center;
	font-size: xx-large;
	border-bottom: 0;
	max-width: 275px;
	padding: 0.3em 1.2em;
}

.hr{
	width: 65%;
	text-align: center !important;
/*	margin-right: 10px;*/
	padding-bottom: 2px;
}

.hrx{
	margin-right: 9px !important;
}




#agnes_testimony{
	margin: 0 auto;
	vertical-align: center;
}

#agnes_img{
	margin: 0 auto;
	height: 225px;
	display: block;
	padding: 0 10px;
}

#agnes_text{
	margin: 0 auto;
	display: block;
	font-size: 15px;
	text-align: left;
	max-width: 700px;
	padding:0 10px; 


}

#watson_testimony{
	margin: 0 auto;
	vertical-align: center;
}

#watson_img{
	margin: 0 auto;
	height: 225px;
	display: block;
	padding: 0 10px;
}

#watson_text{
	margin: 0 auto;
	display: block;
	font-size: 15px;
	text-align: left;
	max-width: 700px;
	padding:0 10px;
}

#zep_testimony{
	margin: 0 auto;
	vertical-align: center;

}

#zep_text{
	margin: 0 auto;
	display: block;
	font-size: 15px;
	text-align: left;
	max-width: 700px;
	padding:0 10px;
}

#zep_img{
	margin: 0 auto;
	height: 225px;
	display: block;
	padding: 0 10px;
}

#major_testimony{
	margin: 0 auto;
	vertical-align: center;
}

#major_text{
	margin: 0 auto;
	display: block;
	font-size: 15px;
	text-align: left;
	max-width: 700px;
	padding:0 10px;
}

#major_img{
	margin: 0 auto;
	height: 225px;
	display: block;
	padding: 0 10px;
}

#addison_testimony{
	margin: 0 auto;
	vertical-align: center;
}

#addison_img1{
	margin: 0 auto;
	height: 225px;
	display: block;
	padding: 0 10px;
}

#addison_text{
	margin: 0 auto;
	display: block;
	font-size: 15px;
	text-align: left;
	max-width: 700px;
	padding:0 10px; 
}

.shrink{
	width: 75%;
}

.shrink1{
	width: 80%;
}

#shrink2{
	width: 85%;
}

#shrink3{
	width: 70%;
}

#shrink4{
	width: 77%;
	margin: 0 auto;
}

/* Services and Rates */

#ratesWrapper{
	max-width: 1100px;
	padding-top: 15px;
	margin: 0 auto;
}

#ratesTitle{
	text-align: center;
	padding-top: 10px;
	font-family: "Dancing Script";
	font-style: normal;
	font-variant: normal;
	font-weight: 275;
	line-height: 1;
}

.ratesBoxTitle{
	text-align: center;
	padding-top: 10px;
	text-decoration: underline;
	font-size: 27px;
	font-family: "Dancing Script";
	font-style: normal;
	font-variant: normal;
	font-weight: 275;
	line-height: 1;
}

#weekdayRates{
	width: 400px;
	height:260px;
	background-color: lightblue;
	margin-left: 50px !important;
	margin-top: 25px !important;
	margin-bottom: 10px;
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px #888;
	box-shadow: inner 0 0 5px #888;
	padding: 0 5px;
	border-radius: 200px;


}

#weekendRates{
	width: 400px;
	height:260px;
	background-color: lightblue;
	margin-left: 50px !important;
	margin-top: 35px !important;
	-moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px #888;
	box-shadow: inner 0 0 5px #888;
	padding: 0 5px;
	border-radius: 200px;

}
.serviceItalic{
	font-style: italic;
	font-size: 13px;
	text-align: center;
	padding-top: -5px;
}

.ratesDetails{
	font-size: 17px;
	text-align: center;
	font-family: helvetica;
}

/* Press */

#pressMain{
	max-width: 1000px;
	padding: 25px;
	text-align: center;
	margin: 0 auto;
	font-family: "Dancing Script";
	font-style: normal;
	font-variant: normal;
	font-weight: 275;
	line-height: 1;

}


/* Mobile Friendly */

@media(max-width: 1400px){
	.gallerymain{
		max-width: 900px;
		margin: 0 auto;
		text-align: center;
	}

	/*#header{
  	position: fixed;
  	z-index: 1;
  	display: inline;
  	background-color: lightblue;
  	height: 135px;
  	width: 1427px;
  	margin-bottom: 10px;
  	border-radius: 3px;
  	box-shadow: -1px 3px 3px black;
}

.navlinks{
	font-family: Georgia, serif;
	color: black;
	text-decoration: none;
	font: bold;
	font-size: 17px;
	margin: 0 auto;
	text-align: left;
}

#navdiv{
	padding-top: 25px;
	position: fixed;
	z-index: 1;
	text-align: right;
	margin-left: -30px;
}

#navdiv .navlinks:hover{
	text-decoration: underline;
}

#navbar-main{
	z-index: 1;
  	position: fixed;
  	display: inline;
  	background-color: lightblue;
  	float: left;
  	width: 12%;
  	min-width: 151px;
  	height: 950px;
	margin-top: 33px;
 	margin-bottom: 10px;
 	margin-right: 10px;
 	border-radius: 3px;
 	box-shadow: 3px 3px 3px black;
}

#oppNav{
	z-index: 1;
  	display: block;
  	position: fixed;
  	top: 15px;
  	left: 25px;
  	background-color: lightblue;
  	float: right !important;
  	width: 12%;
  	min-width: 151px;
  	height: 950px;
	margin-top: 118px;
 	margin-bottom: 10px;
 	margin-left: 1230px;
 	margin-right: 0px;
 	border-radius: 3px;
 	border-top: none;
 	box-shadow: -3px 3px 3px black;
/* 	box-shadow: 3px 3px 6px black;*/
}*/

}








