/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{ 
	max-width: 1400px;

}



.navlinks{
	text-decoration: none;
	font: bold;
	font-size: 16px;
	margin: 0 auto;
	text-align: left;
}

#navdiv{
	padding-top: 15px;
	position: fixed;
	z-index: 1;
	text-align: right;
	margin-left: -30px;
}

#navdiv .navlinks:hover{
	background-color: lightgrey;
/*	padding-bottom: 3px;*/

}

#navbar-main{
  position: fixed;
  display: inline;
  background-color: lightblue;
  float: left;
  width: 11%;
  height: 530px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 10px;
  border-radius: 10px;
}

#mainName{
	text-align: center;
	font-size: 55px;
	padding-bottom: 25px;
	padding-top: 10px;
	padding-left: 110px;
}

#header{
  position: fixed;
  z-index: 1;
  display: inline;
  background-color: lightblue;
  height: 120px;
  width: 98%;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 25px;
  border-radius: 10px;
}

/* Homepage Styles */

#index_wrapper{
	max-width: 1400px;
	padding-left: 85px;
}

#introductions{
	max-width: 1000px;
	padding-left: 125px;
}


/* Gallery Styles */

.galleryWrapper{
	padding-left: 120px;
}

.gallerymain{
	padding: 5px;
	text-align: center;
	margin: 0 auto;
	max-width: 1200px;
/*	margin-right: 20px !important;*/

}


.galleryImg{
	padding-bottom: 15px;
	margin: 0 auto;
}


/* Testimonies */
#testimonies_wrapper{
	max-width: 1400px;
	padding-left: 85px;
}

#testimony_fieldset{
	border: 3.3px groove #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	max-width: 900px;
	padding: 5 10px;
	margin: 0 auto;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

#client_testimonies{
	text-align: center;
	font: times;
	font-size: xx-large;
	border-bottom: 0;
	width: auto !important;
	text-align: center;
	padding: 0.3em 1.2em;
}

.hr{
	width: 70%;
	text-align: center;
	margin-right: 10px;
	padding-bottom: 2px;
}

#agnes_testimony{
	margin: 0 auto;
	vertical-align: center;
}

#agnes_img{
	margin: 0 auto;
	height: 225px;
	display: block;
	padding: 0 10px;
}

#agnes_text{
	margin: 0 auto;
	display: block;
	font-size: small;
	text-align: left;
	max-width: 700px;
	padding:0 10px; 


}

#watson_testimony{
	margin: 0 auto;
	vertical-align: center;
}

#watson_img{
	margin: 0 auto;
	height: 225px;
	display: block;
	padding: 0 10px;
}

#watson_text{
	margin: 0 auto;
	display: block;
	font-size: small;
	text-align: left;
	max-width: 700px;
	padding:0 10px;
}

#zep_testimony{
	margin: 0 auto;
	vertical-align: center;

}

#zep_text{
	margin: 0 auto;
	display: block;
	font-size: small;
	text-align: left;
	max-width: 700px;
	padding:0 10px;
}

#zep_img{
	margin: 0 auto;
	height: 225px;
	display: block;
	padding: 0 10px;
}

#major_testimony{
	margin: 0 auto;
	vertical-align: center;
}

#major_text{
	margin: 0 auto;
	display: block;
	font-size: small;
	text-align: left;
	max-width: 700px;
	padding:0 10px;
}

#major_img{
	margin: 0 auto;
	height: 225px;
	display: block;
	padding: 0 10px;
}

#addison_testimony{
	margin: 0 auto;
	vertical-align: center;
}

#addison_img1{
	margin: 0 auto;
	height: 225px;
	display: block;
	padding: 0 10px;
}

#addison_text{
	margin: 0 auto;
	display: block;
	font-size: small;
	text-align: left;
	max-width: 700px;
	padding:0 10px; 
}

.shrink{
	width: 75%;
}

.shrink1{
	width: 80%;
}

#shrink2{
	width: 85%;
}

#shrink3{
	width: 70%;
}






